.red {
  background: "#222222";
  color: blue;
}

.green {
  background: "#fff";
  color: black;
}

.head {
  color: red;
}

.header {
  color: blue;
}

html {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    box-sizing: border-box;
    padding: 20px;
  }
}
